[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/URSec/Silhouette-Compiler-Kage.git
[submodule "workspace"]
	path = workspace
	url = https://github.com/URSec/Kage-FreeRTOS.git
[submodule "newlib-cygwin"]
	path = newlib-cygwin
	url = https://github.com/URSec/newlib-cygwin.git
